// Color Palette
$primary: #598392;
$secondary: #aec3b0;
$tertiary: #7e8d85;

$background: #eff6e0;
$black: #212121;
$white: #ffffff;

// Fonts
$font-heading: 'Merriweather', Georgia, serif;
$font-sans: 'Noto Sans', Arial, sans-serif;
$font-mono: 'Quicksand', 'Courier New', monospace;
