@use './variables';

.header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid variables.$black;
}

.navbar {
  background-color: variables.$primary;
  min-height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media only screen and (max-width: 56.25em) {
    margin-right: 5rem;
    justify-content: space-around;
  }
}

.text {
  text-align: center;
  min-height: calc(80vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70rem;
  margin: 0 auto;

  @media only screen and (max-width: 112.5em) {
    max-width: 100%;
    padding: 0 3rem;
  }

  @media only screen and (max-width: 56.25em) {
    text-align: center;
  }

  @media only screen and (max-width: 37.5em) {
    padding: 0 1.5rem;
  }
}
